<%- include('partials/header') %>
<%- include('navbar', {loggedIn:loggedIn}) %>

  <div class="container-fluid pt-5 text-center">
    <h1 class="display-3"><i class="fas fa-key fa-sm me-2"></i>About the Secrets App</h1>
    <hr>
    <div class="container about-text">
      <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere doloribus debitis labore iste amet adipisci? Animi ullam necessitatibus sunt magni totam voluptatum laborum soluta incidunt, exercitationem ab maxime maiores commodi!</p>
      <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque odit minus provident adipisci illum velit numquam ipsum. Quos incidunt cumque optio ducimus sit! Doloremque tempore atque exercitationem ipsa iste.</p>
    </div>
  </div>
  <hr>
</div>

<%- include('partials/footer') %>
