<div class="card bg-dark h-100 mx-auto" title="Anonymous Secret">
  <div class="card-body all-cards d-flex justify-content-center align-items-center" onmouseenter="showSecret(event.target)" onmouseleave="hideSecret(event.target)">
    <h5 class="card-title contract">
      <%=secret%>
    </h5>
  </div>
</div>