<%- include('partials/header') %>

<div class="container pt-5">
  <h1 class="d-flex justify-content-center">Login</h1>
  <h6 class="d-flex justify-content-center text-danger small"><%=loginError%></h6>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /login route -->
          <form action="/api/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-dark mt-3 col-4">Login</button>
              <a class="btn btn-warning mt-3 col-4" href="/api" role="button">Go Back</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
