<div class="card bg-dark h-100 mx-auto">
    <div class="card-body my-cards d-flex align-items-center justify-content-center" onmouseenter="showSecret(event.target)" onmouseleave="hideSecret(event.target)">
        <h5 class="card-title contract">
            <%=secret%>
        </h5>
        <form action="/delete" method="post">
            <button class="btn btn-outline-danger btn-sm delete" name="index" value=<%=index%> title="Delete"><i class="fa-regular fa-trash-can"></i></button>
        </form>
        <form action="/edit-secret" method="post">
            <button class="btn btn-outline-warning btn-sm edit" name="index" value=<%=index%> title="Edit"><i class="fa-regular fa-pen-to-square"></i></button>
        </form>

    </div>
</div>