<%- include('partials/header') %>
<%- include('navbar', {loggedIn:loggedIn}) %>

<div class="container-fluid py-5 text-center">
  <i class="fas fa-key fa-6x"></i>
  <h1 class="display-3">My Profile:</h1>
  <p class="lead">Email: <%=email%></p>
  <hr>
</div>

<%- include('partials/footer') %>
