<%- include('partials/header') %>
<%- include('navbar', {loggedIn:loggedIn}) %>

<div class="container-fluid py-5 text-center">
  <i class="fas fa-key fa-6x"></i>
  <h1 class="display-3">Secrets</h1>
  <p class="secret-text">Don't keep your secrets, share them anonymously!</p>

  <form class="" action="/submit" method="POST">
    <div class="form-group">
      <input type="text" class="form-control text-center w-75 mx-auto" name="secret" placeholder="What's your secret?" maxlength="500">
    </div>
    <button type="submit" class="btn btn-dark mt-3">Submit</button>
  </form>
</div>

<%- include('partials/footer') %>
